@model IEnumerable<Sunlive.Entities.FanPost>

@{
    Layout = "~/Views/Shared/_BootstrapLayout.cshtml";
}
@section AdditionalMetaData
{
    <meta http-equiv="refresh" content="60000" />
}

<div id="page-title">

    <h2>Aditya TV </h2>

</div>
<br />
<br />
<div class="pull-right">
    <form class="form-inline" action="~/Post/Search" method="post">

        <div class="form-group">
            <label for="search"></label>
            <input type="text" class="form-control" id="TextContent" name="TextContent" placeholder="Enter a text to search">
        </div>
        <button type="submit" class="btn btn-default">Search</button>
    </form>
</div>

<br />
<br />
<br />





<div id="wrapper">

    <div id="filters">
        <ul class="option-set" data-option-key="filter">
            <li><a href="#filter" class="selected" data-option-value="*">All</a></li>
            <li>/</li>
            <li><a href="#filter" data-option-value=".New">New</a></li>
            <li>/</li>
            <li><a href="#filter" data-option-value=".Approved, .Downloaded ">Approved </a></li>
            <li>/</li>
            <li><a href="#filter" data-option-value=".Rejected">Rejected</a></li>
        </ul>
    </div>

    <!-- start: Wall -->
    <div id="wall" class="row-fluid">

        @*<div class="span3 item">
            <div class="quotes">
                <div class="quote">
                    “That’s not what we think design is. It’s not just what it looks like and feels like. Design is how it works”
                </div>
                <div class="author">
                    - Steve Jobs -
                </div>
            </div>
        </div>*@
        @{
            var count = 0;
        }
        
        @foreach (var item in Model)
        {
            count++;
            @Html.Partial("PartialPost", item)
        }
       


    </div>
    <!-- end: Wall -->

</div>


