<div class="col-sm-5" style="margin: 10px; padding: 10px; border-color: black; border-style: solid; border-width: thin">
    <span class="col-sm-6">
        Date
        <p class="input-group">
            <input type="text" class="form-control" uib-datepicker-popup ng-model="dayInfo.Date"
                   is-open="opened" min-date="minDate" max-date="maxDate" date-disabled="disabled(date, mode)" close-text="Close" />
            <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="open()"><i class="glyphicon glyphicon-calendar"></i></button>
            </span>
        </p>
    </span>
    <span class="col-sm-3">
        Hour
        <input type="number" min="0" max="24" class="form-control" ng-model="dayInfo.SelectedHour" />
    </span>
    <span class="col-sm-3">
        Minute
        <input type="number" min="0" max="60" class="form-control" ng-model="dayInfo.SelectedMin" />
     </span>
    <div class="meta col-sm-12">
        <form name="myForm">
            <label>
                <input type="radio" ng-model="dayInfo.Source" value="both">
                Both
            </label>
            <label>
                <input type="radio" ng-model="dayInfo.Source" value="facebook">
                Facebook
            </label>
            <label>
                <input type="radio" ng-model="dayInfo.Source" value="whatsapp">
                Whatsapp
            </label>
        </form>
    </div>
    <div class="meta col-sm-12">
        <div class="pull-right">
            <button type="button" class="btn btn-success btn-xs cropButton" ng-click="search()">
                <span class="glyphicon glyphicon-search" aria-hidden="true"></span> Search
            </button>
            <button type="button" class="btn btn-primary btn-xs cropButton" ng-click="latest()">
                <span class="glyphicon glyphicon-check" aria-hidden="true"></span> Top 50
            </button>
            <button type="button" class="btn btn-info btn-xs cropButton" ng-click="now()">
                <span class="glyphicon glyphicon-time" aria-hidden="true"></span> Now
            </button>
            <button type="button" class="btn btn-default btn-xs cropButton" ng-click="prev()">
                <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span> Prev
            </button>
            <button type="button" class="btn btn-default btn-xs cropButton" ng-click="next()">
                <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span> Next
            </button>
            <button type="button" class="btn btn-danger btn-xs cropButton" ng-click="Fix()">
                <span class="glyphicon glyphicon-pushpin" aria-hidden="true"></span> Fix
            </button>
        </div>
        <div class="clearfix"></div>
    </div>
</div>

<div class="col-sm-5" style="margin: 10px; padding: 10px; border-color: black; border-style: solid; border-width: thin">
    <div class="col-sm-6" style="font-size: 25px; font-weight: bold">
        <p>{{ clock  | date:'medium'}}</p>
    </div>
    <div class="col-sm-6" style="font-size: 15px; font-weight: bold">
        <div>Count: <span ng-bind="dayInfo.TodaysCount"></span></div>
        <button type="button" class="btn btn-danger btn-xs cropButton" ng-click="now()" ng-if="dayInfo.newMessage > 0">
            <span class="glyphicon glyphicon-refresh" aria-hidden="true" ng-bind="dayInfo.newMessage"></span>
        </button>
    </div>
</div>

<div class="pagination pagination-lg col-sm-12" style="font-size: 15px">
    <ul class="pagination pagination-lg col-sm-12">
        <li ng-repeat="page in dayInfo.Pages" ng-click="moveToPage(page)">{{page}}</li>
    </ul>
</div>

<div class="processing col-sm-12" ng-if="processing">
    Processing, please wait!
</div>

<div class="processing col-sm-12" ng-if="fixing">
    Fixing, please wait!
</div>

<div deckgrid class="deckgrid col-sm-12" source="dayInfo.Posts" cardTemplate="../../Resources/V2/Post.html"></div>