@model SunLive.Models.LoginModel

@{
    ViewBag.Title = "Log in";
}

<div class="container">

    <!-- start: Page Title -->
    @*<div class="row-fluid">
        <div id="page-title" class="span4 offset4">

            <h2>Log in to your account</h2>

        </div>
    </div>*@
    <br />
    <!-- end: Page Title -->
    <!--start: Wrapper-->
    <div class="row-fluid">
        <div id="wrapper" class="full lr-page span4 offset4">

            <!-- start: Row -->
            <div class="row-fluid">

                <div id="login-form" class="span12">

                    <div class="page-title-small">

                        <h3>Use your account</h3>

                    </div>

                    

                    @Html.Action("ExternalLoginsList", new { ReturnUrl = ViewBag.ReturnUrl })


                    

                </div>

            </div>
            <!-- end: Row -->

        </div>
        <!-- end: Wrapper  -->

    </div>

</div>
