<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
  <appSettings>
    <add key="connectionString" value="mongodb://52.10.10.147:27017"/>
    <add key="pageName" value="sunmusic" />
    <add key="MAX_CHAR" value="20" />
    <add key="MAX_LINE" value="2" />
    <add key="TIMER_INTERVAL" value="20" />
    <add key="HASHTAG" value="#adithyatvselfiecloud" />
    <add key="DIRECTORY_PATH" value="c:/SunLiveDownloader/" />
  </appSettings>
</configuration>
