<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="MongoDB" connectionString="Data Source=pmiuneu72f.database.windows.net;Initial Catalog=sunlive;Integrated Security=False;User ID=gguru;Password=1Million$;Connect Timeout=60;Encrypt=False;TrustServerCertificate=False" providerName="System.Data.SqlClient" />
    
  </connectionStrings>
  <appSettings>
    
  </appSettings>
</configuration>